.button {
  width: 25px;
  height: 25px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 550px) {
  .button {
    width: 100%;
    height: 45px;
    background-color: #04aa6d;
    background-size: 25px;
    border-radius: 5px;
    opacity: 1;
  }
}

.button:hover {
  opacity: 1;
}
